html,
body,
main,
#intro {
    height: 100%;
}

.img {
    background: url("../../img/car-park-bg-home.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.form-bg {
    background-color: rgba(0, 0, 0, 0.3);
}

.text-color {
    color: white;
}

.pt-personal{
    padding-top: 100px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #fff;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.head-dark{
    background-color: rgba(44, 43, 42, 0.7);
    color: white;
}