html,
body,
main,
#intro {
    height: 100%;
}

.img {
    background: url("../../img/car-park-bg-home.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.form-bg {
    background-color: rgba(158, 158, 158, 0.3);
}